.about-container{
    height:500px;
    width:70%;
    background-color: #f0dbc1;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top:780px;
    /* opacity: 0.95;  */
    border-radius: 30px;
}

#about{
    position: absolute;
    top:650px;
}

.bolt-minus-white{
    color: #d2d0d0;
    border-color: #d2d0d0;
    height: 16px;
    width: 24px;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    margin-top: 10px;
    margin-left:-2px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.about-container-text{
    height: 450px;
    width:80%;
    /* border-style: dashed; */
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.about-container-text-style{
    font-size: 20px;
    color: #413737;
    /* font-family: fantasy; */
}

.about-label-text{
    position: absolute;
    top:50%;
    right:20%;
    transform: translate(0,-50%);
    color: #b58251;
    font-family:fantasy;
    font-size:xx-large;
}


.bolt-minus-black{
    color: #d2d0d0;
    border-color: #413737;
    height: 12px;
    width: 14px;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    margin-top: 6.5px;
    margin-left:-2px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.about-label{
    height:150px;
    width:20%;
    background-color: #30271e;
    position: absolute;
    top:960px;
    left:-30px;
    border-radius: 30px;
}

.about-bolt-tl{
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #413737;
    border-radius: 50%;
    top:10px;
    left:10px;
}

.about-bolt-tr{
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #413737;
    border-radius: 50%;
    float: right;
    right:10px;
    bottom: 10px;   
}

.about-bolt-bl{
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #413737;
    border-radius: 50%;
    top:450px;
    left:10px;   
}

.about-bolt-br{
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #413737;
    border-radius: 50%;
    float: right;
    right:10px;
    top:430px;   
}

.about-label-bolt-tr{
    position: relative;
    height: 15px;
    width: 15px;
    right:10px;
    top:10px;
    background-color: #ff670f;
    border-radius: 50%;
    float: right;
}

.about-label-bolt-br{
    position: relative;
    height: 15px;
    width: 15px;
    /* right:10px; */
    right:-5px;
    top:125px;
    background-color: #ff670f;
    border-radius: 50%;
    float: right;
}