.about-container{
    height:500px;
    width:70%;
    background-color: #f0dbc1;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top:780px;
    /* opacity: 0.95;  */
    border-radius: 30px;
}

#about{
    position: absolute;
    top:650px;
}

.bolt-minus-white{
    color: #d2d0d0;
    border-color: #d2d0d0;
    height: 16px;
    width: 24px;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    margin-top: 10px;
    margin-left:-2px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.about-container-text{
    height: 450px;
    width:80%;
    /* border-style: dashed; */
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.about-container-text-style{
    font-size: 20px;
    color: #413737;
    height:450px;
    width: 100%;
    /* display: inline-flex; */
    /* font-family: fantasy; */
}

.about-label-text{
    position: absolute;
    top:50%;
    right:20%;
    transform: translate(0,-50%);
    color: #b58251;
    font-family:fantasy;
    font-size:xx-large;
}

.about-label{
    height:150px;
    width:20%;
    background-color: #30271e;
    position: absolute;
    top:960px;
    left:-30px;
    border-radius: 30px;
}

.about-text{
    height:100%;
    width:70%;
    position: absolute;
    left:0;
    font-family:cursive;
    color: #30271e;
    font-size:85%;
    text-align: justify;
    /* border-width: 2px;
    border-style: solid; */
}

.about-text-quote{
    font-weight: bold;
    font-size: 25px;
}