#education{
    position: absolute;
    top:3150px;
}

.education-container{
    height: 500px;
    width:100%;
    position: absolute;
    top:3350px;
}

.education-text{
    height: 480px;
    width:100%;
    display: inline-flex;
    background-color: var(--dark);
    /* border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; */
    /* opacity: 0.95; */
}

.education-label-back{
    height: 80px;
    position: absolute;
    width:360px;
    background-color: var(--medium);
    border-top-left-radius: 30px;
    border-top-right-radius: 50%;
    right:10%;
    top:-80px
}

.education-label{
    height: 80px;
    width:360px;
    background-color: var(--dark);
    border-top-left-radius: 120px;
    border-top-right-radius: 30px;
    position: absolute;
    right:10%;
    top:-80px;
}

.education-label-text{
    position: relative; 
    top:50%;
    text-align: center;
    transform: translate(0,-50%);
    color: var(--medium);
    font-family: fantasy;
    font-size: 40px;
}
.education-text-entry{
    /* border-style: dashed; */
    position: relative;
    /* border-width: 2px; */
    top:50%;
    transform: translate(0,-50%);
    height:400px;
    width: 41%;
    margin-left: 6%;
}
.education-text-entry-cover{
    width: 100%;
    height: 200px;
    border-top-right-radius: 50px;
    background-color: var(--dark);
}
.education-text-entry-dp{
    /* height:150px; */
    width: 100%;
    border-radius: 50%;
    position: relative;
    opacity: 0.5;
}

.education-text-entry-dp-back{
    width: 150px;
    border-radius: 50%;
    height: 150px;
    position: relative;
    top:-10%;
    background-color: var(--light);
}


.education-text-entry-title{
    position: absolute;
    width: 60% ;
    left:35%;   
    font-size: 20px;
    font-weight: bold;
    color: var(--medium);
}

.education-text-entry-desc{
    height: 200px;
    width:90%;
    background-color: var(--light);
    position: absolute;
    right: 0;
    top: 200px;
    border-bottom-left-radius : 30px;
    
}