.education-container{
    height: 1050px;
    width:35%;
    position: absolute;
    top:2800px;
}

.education-text{
    height: 1050px;
    width:100%;
    background-color: #d2d0d0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    /* opacity: 0.95; */
}

.education-label-back{
    height: 80px;
    position: absolute;
    width:60%;
    background-color: #ff670f;
    border-top-left-radius: 30px;
    border-top-right-radius: 50%;
    left:15%;
}

.education-label{
    height: 80px;
    width:60%;
    background-color: #413737;
    border-top-left-radius: 120px;
    border-top-right-radius: 30px;
    position: relative;
    left:15%;
}

.education-label-text{
    position: relative; 
    top:50%;
    text-align: center;
    transform: translate(0,-50%);
    color: #ff670f;
    font-family: fantasy;
    font-size: 40px;
}
.education-text-entry{
    /* border-style: dashed; */
    position: relative;
    /* border-width: 2px; */
    height:500px;
    width: 100%;
}
.education-text-entry-cover{
    width: 100%;
    height: 200px;
    border-top-right-radius: 50px;
}
.education-text-entry-dp{
    /* height:150px; */
    width:30%;
    border-radius: 50%;
    position: relative;
    top:-20%;
}

.education-text-entry-title{
    position: absolute;
    width: 60% ;
    left:35%;   
    font-size: 20px;
    font-weight: bold;
}

.education-text-entry-desc{
    height: 200px;
    width:80%;
    position: absolute;
    right: 0;
    top:300px;
}