#experience{
    position: absolute;
    top:2000px;
}

.experience-container{
    height:800px;
    width:100%;
    position: absolute;
    top:2100px;
    right: 0;
    /* background-color: transparent;
    border-color: white;
    border-style: dashed; */
    /* border-width: 2px; */
}

.experience-label{
    height:180px;
    width:180px;
    background-color: var(--medium);
    border-radius: 50%;
    border-color: var(--dark);
    border-style:double;
    border-width: 10px;
    z-index: 2;
    /* position: absolute; */
}

.experience-label-container{
    height:80px;
    width:fit-content;
    position: absolute;
    top:-80px;
    left:10%;
    /*transform: translate(-50%,0%); */
    z-index: 1;
    /* display: inline-flex;     */
}

.experience-label-text{
    height: 80px;
    width:200%;
    background-color: var(--dark);
    border-top-right-radius: 20px;
    border-top-left-radius: 100px;
}
.experience-label-text-back{
    background-color: var(--medium);
    border-top-left-radius: 30px;
}

.experience-label-text-style{
    font-size: 40px;
    font-family: "Jockey One";
    text-align: center;
    color: var(--medium);
    position: relative;
    top:50%;
    /* right: 5%; */
    transform: translate(0,-50%);
}

.experience-text{
    position: absolute;
    background-color: var(--dark);
    height: 330px;
    width:100%;
    top:100px;
    right: 0;   
    /* opacity: 0.95; */
    /* left:10%; */
    /* border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; */
    /* border-radius: 50px; */
    
}


.experience-entry{
    height:220px;
    width:31%;
    margin-left:1%;
    /* top:100px; */
    margin-top: 55px;  
    position: relative;
    border-radius: 70px;
    display: inline-flex;
    background-color:var(--light);
    /* opacity: 0; */
    /* animation: 1s fade-in-card forwards;  */
    /* top:50%;
    transform: translate(0,-50%); */
}



@keyframes pop-out-exp {
    0%{
        height: 0px;
    }
    100%{
        height:220px;
    }
}


.experience-entry-logo{
    height: 10vw;
    width: 10vw;
    background-color: var(--dark);
    position: relative;
    top:50%;
    transform: translate(-50%,-50%);
    left:50%;
    border-radius: 30px;
    display: inline-flex;
    /* animation: 1.5s fade-in-card forwards; */
}

.experience-entry-logo-img{
    height: 8vw;
    width: 8vw;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 30%;
    border-style: solid;
    border-width: 4px;
    border-color: var(--medium);
}

.experience-logo-container{
    width:40%;
    height: 100%;
    position: relative;
}

.experience-desc-container{
    width:55%;
    height: 100%;
    position: relative;
    /* right:0; */
}

.exp-entry-1{
    animation: 1s fade-in-card 0s forwards;
}
.exp-entry-2{
    animation: 1s fade-in-card 0.1s forwards;
}
.exp-entry-3{
    animation: 1s fade-in-card 0.2s forwards;
}

.experience-head{
    position: relative;
    height:fit-content;
    width:100%;
    font-family: "Balsamiq Sans";
    color:var(--dark);
    top:50%;
    transform: translate(0,-50%);
}

.experience-head-title{
    font-size: 2vw;
    font-weight: bold;
}

.experience-head-designation{
    font-size: 1.3vw;
    font-weight: bold;
}

.experience-head-duration{
    font-size: 1.2vw;
}

.experience-head-location{
    font-size: 1vw;
}

@media screen and (max-width:750px){
    #experience{
        top:2750px;
    }
    .experience-container{
        top:2800px;
    }
    .experience-label-text-style{
        font-size: 6vw;
    }
    .experience-text{
        height: 800px;
    }
    .experience-entry{
        width:80%;
        left:50%;
        margin-top: 35px;
        /* top:40%; */
        transform: translate(-50%,0%);
    }
    .experience-entry-logo{
        height: 23vw;
        width: 23vw;
    }
    .experience-entry-logo-img{
        height: 20vw;
        width: 20vw;
    }
    .experience-head-title{
        font-size: 5.5vw;
    }
    .experience-head-designation{
        font-size: 3.5vw;
    }
    .experience-head-duration{
        font-size: 3.5vw;
    }
    .experience-head-location{
        font-size: 3vw;
    }
}
