.footer-container{
    height: 80px;
    width: 100%;
    position: absolute;
    top:3900px;
    background-color: var(--dark);
}

.footer-copyright{
    color: var(--light);
    position: absolute;
    right: 5%;
    top:50%;
    transform: translate(0,-50%);
}

.footer-social{
    display: inline-flex;
    height: 50px;
    width: fit-content;
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    top:50%;
}

.footer-social-bubble{
    height:50px;
    width:50px;
    border-style: solid;
    border-color: var(--light);
    border-width: 2px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}