.footer-container{
    height: 80px;
    width: 100%;
    position: absolute;
    top:4050px;
    background-color: var(--dark);
    font-family: "Balsamiq Sans";
}

.footer-copyright{
    color: var(--light);
    /* font-size: 1.2vw; */
    position: absolute;
    right: 5%;
    top:50%;
    transform: translate(0,-50%);
}

.footer-social{
    display: inline-flex;
    height: 50px;
    width: fit-content;
    position: absolute;
    left:5%;
    transform: translate(0%,-50%);
    top:50%;
}

.footer-social-bubble{
    height:35px;
    width:35px;
    border-style: solid;
    border-color: var(--light);
    border-width: 2px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
    position: relative;
    top:50%;
    transform: translate(0,-50%);
}

.footer-social-img{
    height: 60%;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width:750px) {
    .footer-container{
        top:5600px;
        height: 150px;
    }
    .footer-social{
        left: 50%;
        transform: translate(-50%,0);
        top:20%;
    }
    .footer-copyright{
        left: 50%;
        transform: translate(-50%,0);
        width: fit-content;
        top:60%;
    }
}

@media screen and (max-width:500px){
    .footer-copyright{
        font-size: 3.5vw;
    }
    .footer-social-bubble{
        height: 8vw ;
        width: 8vw;
    }
}