.footer-container{
    height: 140px;
    width: 100%;
    position: absolute;
    top:4000px;
    background-color: #413737;
}

.footer-copyright{
    color: #d2d0d0;
    position: relative;
    text-align: center;
    top:30%;
}

.footer-social{
    display: inline-flex;
    height: 50px;
    width: fit-content;
    position: relative;
    left:50%;
    transform: translate(-50%,0);
    top:20%;
}

.footer-social-bubble{
    height:50px;
    width:50px;
    border-style: solid;
    border-color: #d2d0d0;
    border-width: 2px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}