:root{
    --dark:#30271e;
    --medium:#b58251;
    --light:#f0dbc1;
}


.home-container{
    height: 780px;
    width: 100vw;
    background-color: var(--dark);
    /* opacity: 0.9; */
    position: absolute;
    top: 50px;
    right: 0%;
}

.home-pic-back-1{
    height: 29vw;
    width: 29vw;
    position: absolute;
    top:43%;
    left:10%;
    transform: translate(0,-50%); 
    background-color:var(--light);
    border-radius: 50%;
    /* opacity: 0.8; */
}


.home-pic-back-2{
    height: 29vw;
    width: 29vw;
    position: absolute;
    top:43%;
    left:13%;
    transform: translate(0,-50%); 
    background-color: var(--medium);
    border-radius: 50%;
}

.home-text{
    position: absolute;
    top: 48%;
    left: 52%;
    border-width: 1px;
    /* border-style: dashed; */
    height:200px;
    transform: translate(0,-50%); 
    width:fit-content;
    /* background-color: #f6f6f6; */
    border-color: var(--light);
}

.home-text-name{
    color: var(--medium);
    font-family: fantasy;
    /* text-align: center; */
    font-size: 5vw;
    font-weight:bolder;
}

.home-text-title{
    color:var(--light);
    font-family: fantasy;
    /* text-align: center; */
    font-size: 2vw;
    /* opacity: 0.8; */

    /* font-weight:bolder; */
}

.home-text-title-web{
    color: var(--medium);
}