.home-container{
    height: 780px;
    width: 100vw;
    background-color: #413737;
    /* opacity: 0.9; */
    position: absolute;
    top: 50px;
    right: 0%;
}

.home-pic-back-1{
    height: 450px;
    width: 450px;
    position: absolute;
    top:100px;
    left:150px;  
    background-color: #d2d0d0;
    border-radius: 50%;
    /* opacity: 0.8; */
}


.home-pic-back-2{
    height: 450px;
    width: 450px;
    position: absolute;
    top:100px;
    left:200px;  
    background-color: #d35b15;
    border-radius: 50%;
}

.home-text{
    position: absolute;
    top: 280px;
    left: 800px;
    border-width: 1px;
    /* border-style: dashed; */
    height:200px;
    width:fit-content;
    /* background-color: #f6f6f6; */
    border-color: #d2d0d0;
}

.home-text-name{
    color: #ff670f;
    font-family: fantasy;
    /* text-align: center; */
    font-size: 70px;
    font-weight:bolder;
}

.home-text-title{
    color:#d2d0d0;
    font-family: fantasy;
    /* text-align: center; */
    font-size: 30px;
    /* opacity: 0.8; */

    /* font-weight:bolder; */
}

.home-text-title-web{
    color: #ff670f;
}