:root{
    --dark:#19323C;
    --medium:#F2545B;
    --light:#F3F7F0;
}


.home-container{
    height: 780px;
    width: min(100vw,1800px);
    background-color: var(--dark);
    /* opacity: 0.9; */
    position: absolute;
    top: 50px;
    left:50%;
    transform: translate(-50%,0);

}

.home-pic-back-1{
    height: min(29vw,521px);
    width: min(29vw,521px);
    position: absolute;
    top:43%;
    left:10%;
    transform: translate(0,-50%); 
    background-color:var(--light);
    border-radius: 50%;
    /* opacity: 0.8; */
}


.home-pic-back-2{
    height: min(29vw,521px);
    width: min(29vw,521px);
    position: absolute;
    top:43%;
    left:13%;
    transform: translate(0,-50%); 
    background-color: var(--medium);
    border-radius: 50%;
}

.home-dp{
    height: 100%;
    width:100%;
    border-radius: 100%;
}

.home-text{
    position: absolute;
    top: 48%;
    left: 52%;
    border-width: 1px;
    /* border-style: dashed; */
    height:200px;
    transform: translate(0,-50%); 
    width:fit-content;
    /* background-color: #f6f6f6; */
    border-color: var(--light);
}

.home-text-name{
    color: var(--medium);
    font-family: "Jockey One";
    /* text-align: center; */
    font-size: min(5vw,90px);
    font-weight:bolder;
}

.home-text-title{
    color:var(--light);
    font-family: "Jockey One";
    /* text-align: center; */
    font-size: min(2vw,36px);
    /* opacity: 0.8; */

    /* font-weight:bolder; */
}

.home-text-title-web{
    color: var(--medium);
}

@media screen and (max-width:900px) and  (min-width:600px) {
    .home-pic-back-1{
        top:30%;
        height: 400px;
        width: 400px;
    }
    .home-pic-back-2{
        top:30%;
        height: 400px;
        width: 400px;
    }
    .home-text{
        top:70%;
        right: 10%;
        left: auto;
    }
    .home-text-name{
        font-size: 70px;
    }
    .home-text-title{
        font-size: 30px;
    }
}

@media screen and (max-width:600px) {
    .home-pic-back-1{
        top:10%;
        height: 60vw;
        width: 60vw;
        left:46%;
        transform: translate(-50%,0);
    }
    .home-pic-back-2{
        top:10%;
        height: 60vw;
        width: 60vw;
        left:51%;
        transform: translate(-50%,0);
    }
    .home-text{
        top:60%;
        left:50%;
        transform: translate(-50%,0);
        text-align: center;
    }
    .home-text-name{
        font-size: 12vw;
    }
    .home-text-title{
        font-size: 5vw;
    }
}

@media screen and (max-width:450px){
    .home-pic-back-1{
        height: 75vw;
        width: 75vw;
    }
    .home-pic-back-2{
        height: 75vw;
        width: 75vw;
    }
}