.navbar-container{
    height: 60px;
    width: 100vw;
    background-color:	#413737;
    position: fixed;
    /* opacity: 0.9; */
    
}

a{
    text-decoration: none;
    color:inherit;
}

button{
    background-color: transparent;
    border:none;
}

.navbar-text{
    margin-left: 20px;
    margin-right: 20px;
    color: #ff670f;
    /* font-weight: bold; */
    font-family:fantasy;
    font-size: 20px;
}

.navbar-buttons{
    display: inline-flex;
    position: relative;
    height:30px;
    width: fit-content;
    top:40%;
    float: right;
    /* transform: translate(1,-50%); */
    
}