.navbar-container{
    height: 60px;
    width: 100vw;
    background-color:	var(--dark);
    position: fixed;
    z-index: 3;
    /* opacity: 0.9; */
    
}

a{
    text-decoration: none;
    color:inherit;
}

button{
    background-color: transparent;
    border:none;
}

.navbar-text{
    margin-left: 20px;
    margin-right: 20px;
    color: var(--medium);
    /* font-weight: bold; */
    font-family:"Jockey One";
    font-size: 20px;
}

.navbar-buttons{
    display: inline-flex;
    position: relative;
    height:30px;
    width: fit-content;
    /* top:40%; */
    top: 50%;
    float: right;
    transform: translate(0,-50%);
    margin-right: 30px;
    
}



.navbar-menu-dropdown{
    position: relative;
    /* right: 0%; */
    height:50px;
    width: 100%;
    display: none;
}

.navbar-dropdown-icon{
    height:60px;
    position: relative;
    display: none;
}
.navbar-dropdown-icon-style{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 25px;
    top:45%;
    transform: translate(0,-50%);
    visibility: hidden;
    background-color: var(--dark);
    border-radius: 10%;
}

.navbar-dropdown-item{
    height:0px;
    position: relative;
    background-color: var(--dark);
    color: var(--medium);
    visibility:hidden;
    transition: all .5s ease;
    border-width: 1px;
    border-style: solid;
    border-color: var(--dark);
    /* width:0; */
}
.navbar-dropdown-anchor{
    visibility: hidden;
}
.navbar-dropdown-item:hover{
    background-color: var(--medium);
}

.navbar-dropdown-item:hover .navbar-dropdown-item-text{
    color: var(--light);
}

.navbar-dropdown-item-text{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-family: "Jockey One";
    font-size: 25px;
    opacity: 0;
    transition: all .3s ease;
}

.navbar-dropdown-icon-img{
    position: absolute;
    height: 30px;
    width: 30px;  
    left:50%;
    top:50%;
    transform: translate(-50%,-50%); 
}

@media screen and (max-width:900px) {
    .navbar-buttons{
        display: none;
    }
    .navbar-dropdown-icon-style{
        visibility: visible;
    }
    .navbar-dropdown-icon{
        display: block;
    }
    .navbar-menu-dropdown{
        display: block;
    }
}