.project-container{
    height: 800px;
    width: 100%;
    position: absolute;
    right: 0;
    top:1950px;
    /* border-style: dashed; */
    /* border-width: 2px; */
}

.project-label-text{
    position: relative;
    height:100px;
    width:20%;
    background-color: #413737;
    left: 50%;
    transform: translate(-50%,0);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.project-label-text-style{
    font-family: fantasy;
    color: #ff670f;
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 220%;
    transform: translate(0,-50%);
}

.project-label-icon{
    
}   

.project-background{
    height: 700px;
    width: 100%;
    position: absolute;
    background-color: #413737;
}

.project-row{
    display:inline-flex;
    width: 99%;
    position: relative;
    /* left:50%;
    transform: translate(-50%,0); */
    left:1%;
    top:40px;
}

.project-column{
    height:300px;
    width: 33%;
    /* border-style: dashed;
    border-width: 2px; */
}

.project-card{
    width:95%;
    background-color: #d2d0d0;
    height: 280px;
    border-radius: 10px;
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}