#project{
    position: absolute;
    top:2595px;
}

.project-container{
    height: 700px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 2650px;
    /* border-style: dashed; */
    /* border-width: 2px; */
}

.project-logo{
    height: 7vw;
    width:7vw;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.project-upper-semi{
    width:80%;
    height: 25%;
    position: absolute;
    background-color: var(--medium);
    opacity: 0.7;
    z-index: 1;
    left:50%;
    border-radius: 50% / 0 0 100% 100%;
    /* border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 50%; */
    transform: translate(-50%,0);
}


.project-lower-semi{
    width:80%;
    height: 25%;
    position: absolute;
    background-color: var(--medium);
    z-index: 1;
    left:50%;
    bottom: 0;
    opacity: 0.7;
    border-radius: 50% / 100% 100% 0 0;
    /* border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 50%; */
    transform: translate(-50%,0);
}

.project-label-text{
    position: relative;
    top:100%;
    height:15vw;
    width:15vw;
    background-color: var(--dark);
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    border-radius: 50px;
    border-width: 3px;
    border-style:dashed;
    border-color: var(--medium);
    /* border-top-left-radius: 50px;
    border-top-right-radius: 50px; */
}

.project-label-text-style{
    font-family: "Jockey One";
    color: var(--medium);
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 220%;
    transform: translate(0,-50%);
}


.project-background{
    height: 700px;
    width: 100%;
    position: absolute;
    background-color: var(--dark);
    /* z-index: 0; */
}

.project-row{
    display:inline-flex;
    width: 99%;
    position: relative;
    /* left:50%;
    transform: translate(-50%,0); */
    left:1%;
    top:40px;
    z-index: 2;
}

.project-column{
    height:300px;
    width: 33%;
    /* border-style: dashed;
    border-width: 2px; */
}

.project-card{
    width:95%;
    background-color: var(--light);
    height: 280px;
    border-radius: 50px;
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.project-card-row-1{
    position: relative;
    width:100%;
    height: 45%;
    /* border-width: 1px;
    border-style: dashed; */
    display: inline-flex;
}

.project-card-row-2{
    position: relative;
    width:100%;
    height:55%;
    /* border-width: 1px;
    border-style: dashed; */
    /* display: inline-flex; */
}
.project-card-col-1{
    position: relative;
    height:100%;
    width:30%;
    /* border-width: 1px;
    border-style: dashed; */
}

.project-card-col-2{
    position: relative;
    height:100%;
    width: 70%;
    /* border-width: 1px;
    border-style: dashed; */
}

.project-title{
    position: relative;
    width: 90%;
    /* height:60%; */
    left:5%;
    top:20px;
    font-size: 1.2vw;
    font-family: "Balsamiq Sans";
    color: var(--dark);
    font-weight: bold;
}

.project-link{
    position: relative;
    width:90%;
    height: 40%;
    top:35px;
    left:3%;
    display: inline-flex;
    /*top:50%; */
    /* transform: translate(0,-50%); */
}

.project-link-button{
    position: relative;
    height:fit-content;
    width: fit-content;
    background-color: var(--dark);
    color: var(--medium);
    font-family: "Balsamiq Sans";
    padding: 3%;
    font-size: 1vw;
    margin-left:5px;
    border-radius: 20px;
    font-weight: bold;
}

.project-card-row-2-1{
    position: relative;
    width: 100%;
    /* border-style: dashed;
    border-width: 1px; */
    height:55%;
}

.project-desc{
    position: relative;
    width:90%;
    color: var(--dark);
    font-family: "Balsamiq Sans";
    left:5%;
    text-align: justify;
    top:50%;
    transform: translate(0,-50%);
}

.project-card-row-2-2{
    position: relative;
    width: 100%;
    /* border-style: dashed;
    border-width: 1px; */
    height:45%;
}

.project-tech{
    position: relative;
    width:90%;
    color: var(--dark);
    font-family: "Balsamiq Sans";
    left:5%;
    font-weight: bold;
    text-align: justify;
    top:5%;
}

@media screen and (max-width:1100px) and (min-width:750px){
    .project-label-text{
        display: none;
    }
    #project-label-1{
        display: none;
    }
    .project-column{
        width:47%;
        margin-left: 1.5%;
    }
    .project-title{
        font-size: 1.8vw;
    }
    .project-link-button{
        font-size: 1.5vw;
    }
    .project-desc{
        font-size: 1.4vw;
    }
    .project-tech{
        font-size: 1.3vw;
    }
}

@media screen and (max-width:750px) {
    .project-label-text{
        display: none;
    }
    #project-label-1{
        display: none;
    }
    .project-column{
        width:47%;
        margin-left: 1.5%;
    }
    .project-title{
        font-size: 2vw;
    }
    .project-link-button{
        font-size: 1.8vw;
    }
    .project-desc{
        font-size: 1.8vw;
    }
    .project-tech{
        font-size: 1.8vw;
    }
    .project-logo{
        height: 10vw;
        width: 10vw;
    }
}

@media  screen and (max-width:600px) {
    .project-title{
        font-size: 2.2vw;
    }
    .project-link-button{
        font-size: 2.4vw;
    }
    .project-desc{
        font-size: 2.2vw;
    }
    .project-tech{
        font-size: 2vw;
    }
    .project-logo{
        height: 12vw;
        width: 12vw;
    }
}

@media  screen and (max-width:450px) {
    .project-title{
        font-size: 2.8vw;
        top:20%;
    }
    .project-link-button{
        font-size: 2.8vw;
    }
    .project-desc{
        font-size: 2.6vw;
    }
    .project-tech{
        font-size: 2.4vw;
    }
    .project-logo{
        height: 14vw;
        width: 14vw;
    }
}

@media screen and (max-width:750px) {
    .project-container{
        top:3750px;
    }
    #project{
        top:3700px;
    }
}