.theme-container{
    position: fixed;
    width:170px;
    height: 200px;
    z-index: 10;
    left:20px;
    background-color: transparent;
    /* display: inline-block; */
}

.theme-navbar:hover + .theme-button-container{
    opacity: 1;
    visibility: visible;
    background-color: var(--dark);
}

.theme-button-container:hover{
   opacity: 1;
   visibility: visible;
   background-color: var(--dark);
}


.theme-navbar{
    display: block;
    position: relative;
    height: 60px;
    color: var(--medium);
    font-family:"Jockey One";
    font-size: 20px;
    transition: all .5s ease;
}

.theme-navbar-label{
    height: 30px;
    display: inline-flex;
}

.theme-button-container{
    visibility: hidden;
    position: relative;
    opacity: 0;
    transition: all .5s ease;
    /* top:-150%; */
}

.theme-button{
    position: relative;
    border-width: 3px;
    border-style: solid;
    width: 100%;
    height: 40px;
    color: var(--medium);
    font-size: 15px;
    font-family: "Balsamiq Sans";
    background-color: var(--dark);
    text-align: left;
    font-weight: bold;
    display: inline-flex;
    border-color: var(--dark);
}

.theme-button:hover{
    background-color:var(--light);
}

.theme-button-text{
    position: relative;
    top:50%;
    width:80%;
    transform: translate(0,-50%);
}

.theme-button-arrow{
    position: absolute;
    top:50%;
    right: 10px;
    transform: translate(0,-50%);
    opacity: 0;
}

#carnation{
    opacity: 1;
}

.theme-navbar-label-icon{
    height:15px;
    width:15px;
    position: relative;
    top:30%;
    transform: translate(0,-50%);
    margin-right: 10px;
}